Repository OlivierPelletier/eve-online-incursions-discord-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Adding embed pretty message. TODO: Persist message to be updated later. Adding missing info to message (number of jumps and timestamp)
  src/Bot.ts
  src/config/incursion_layouts.json
  src/config/region_icons.json
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionConstellationLayout.ts
  src/models/bot/IncursionInfo.ts
  src/models/esi/ESIConstellation.ts
  src/models/esi/ESIRegion.ts
  src/models/esi/ESIStation.ts
  src/services/ESIService.ts
  src/services/IncursionLayoutService.ts
  src/services/RegionIconService.ts
Due: prettier --write, eslint --fix

Updated README.md.
  README.md
Due: prettier --write

Added island constellation to message. Updated incursion_layouts.json.
  src/config/incursion_layouts.json
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionConstellationLayout.ts
  src/models/bot/IncursionInfo.ts
Due: prettier --write, eslint --fix

WIP. Refactoring. Adding IncursionCache. TODO: Actually use the cache.
  src/Bot.ts
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionInfo.ts
  src/models/bot/IncursionsCache.ts
  src/models/bot/IncursionsCacheEntry.ts
  src/models/esi/ESICharacter.ts
  src/models/esi/ESIIdResponse.ts
  src/models/esi/ESIUniverseIdsResponse.ts
  src/services/ESIService.ts
  src/services/IncursionInfoService.ts
  src/services/IncursionsCacheService.ts
Due: prettier --write, eslint --fix

WIP. More refactoring. TODO: Actually use the cache.
  .gitignore
  src/Bot.ts
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionInfo.ts
  src/services/ESIService.ts
  src/services/IncursionInfoService.ts
  src/services/IncursionLayoutService.ts
  src/services/IncursionsCacheService.ts
  src/services/RegionIconService.ts
Due: prettier --write, eslint --fix

Using and rotating the cache. Added a no incursion message.
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/services/IncursionsCacheService.ts
Due: prettier --write, eslint --fix

Typo fix.
  src/mappers/EmbedMessageMapper.ts
Due: prettier --write, eslint --fix

Adding next spawn info to no incursion message. Some refactoring.
  src/config/icon_urls.json
  src/config/region_icons.json
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionsCacheEntry.ts
  src/services/IncursionsCacheService.ts
  src/services/RegionIconService.ts
Due: prettier --write, eslint --fix

Reusing discord message for no incursion message if possible. TODO: refactoring BotController.
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/bot/IncursionsCache.ts
  src/services/IncursionsCacheService.ts
Due: prettier --write, eslint --fix

Fixing lastIncursionSystemName mapping.
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Removing useless condition.
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Adding Docker files and documentation. Some refactoring.
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  entrypoint.sh
  example/config.json
  example/docker-compose.yml
  example/incursions_cache.json
  src/controllers/BotController.ts
  src/services/IncursionsCacheService.ts
Due: prettier --write, eslint --fix

Update README.md.
  README.md
Due: prettier --write

Incursion info refresh rate is now based in cache expiration info.
  example/config.json
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
  src/models/esi/ESIHeaders.ts
  src/models/esi/ESIResponse.ts
  src/services/ESIService.ts
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Adding ping @everyone on new message.
  src/Bot.ts
  src/controllers/BotController.ts
  src/mappers/EmbedMessageMapper.ts
Due: prettier --write, eslint --fix

Fix for ESI downtime. Not refreshing cache if getting no response from ESI.
  src/controllers/BotController.ts
Due: prettier --write, eslint --fix

Fixing EVE Time display. Some refactoring.
  src/mappers/EmbedMessageMapper.ts
  src/services/ESIService.ts
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Change cache expire date to now + 1 minute on ESI error.
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Optimizing Docker image. Fixing display of last incursion distance when there's no information available.
  Dockerfile
  src/mappers/EmbedMessageMapper.ts
Due: prettier --write, eslint --fix

Adding factions logo.
  static/logo_faction_amarr_empire.png
  static/logo_faction_ammatar_mandate.png
  static/logo_faction_caldari_state.png
  static/logo_faction_gallente_federation.png
  static/logo_faction_khanid_kingdom.png
  static/logo_faction_sanshas_nation.png
Due: none

Updating icon_urls. Adding missing minmatar icon.
  src/config/icon_urls.json
  static/logo_faction_minmatar_republic.png
Due: prettier --write

Updating Dockerfile for an even more optimized image.
  Dockerfile
Due: none

Update README.md
  README.md
Due: prettier --write

Adding missing headquarter_system for constellation Otsabaira. Bump to 1.0.1.
  README.md
  example/docker-compose.yml
  package.json
  src/config/incursion_layouts.json
Due: prettier --write

yarn.lock update.
  yarn.lock
Due: none

HOTFIX! Changing highSecOnly to system with security status >= 0.45.
  README.md
  package.json
  src/services/IncursionInfoService.ts
Due: prettier --write, eslint --fix

Adding google site verification file.
  google9248d97b2df735d2.html
Due: none

Update EmbedMessageMapper.ts
  src/mappers/EmbedMessageMapper.ts
Due: prettier --write, eslint --fix

Update incursion_layouts.json
  src/config/incursion_layouts.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: {*.json,*.js,*.md}) or (any of: src/**/*.ts)
  eslint --fix: any of: src/**/*.ts
